<a href="https://colab.research.google.com/github/javierc130/Progra-III-2024/blob/main/Fundamentos_de_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello, World")
nombre = "Javier Navarro"

print("Hola", nombre, ", iniciales: ", nombre[0], nombre[7])

Hello, World
Hola Javier Navarro , iniciales:  J N

*EJERCICIO* Crear un programa en python que sume 2 numeros

In [ ]:
num1 = 5
num2 = 9.5
resp = num1 + num2
print("La suma es:", resp)

La suma es: 14.5

EJERCICIO Crear un programa en python que sume 2 numeros producidos por el usuario

In [ ]:
print("num1")
num1 = float(input())

print("num2")
num2 = float(input())

resp = num1 + num2
print("La suma es:", resp)

num1
2
num2
6
La suma es: 8.0

In [ ]:
#Tipos de datos
num1 = 5
num2 = 5.9
nombre = "Javier Navarro"
print(nombre[0:6], nombre[:6], nombre[-1:], nombre[6:len(nombre)])

estado = True
print(estado)

print(type(nombre), type(num1), type(num2), type(estado))

Javier Javier o  Navarro
True
<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

crear un programa en python que lea un numero y determine si es par o impar

In [ ]:
num = int(input("Ingrese un numero:"))
if num % 2 == 0:
 print("El numero es par")
else:
 print("el numero es impar")

Ingrese un numero:8
El numero es par

Ejercicio: uso de las funciones de usuario con la suma de 2 numeros

In [ ]:
 def suma(num1, num2):
  return num1 + num2

In [ ]:
  num1 = float(input("num 1:"))
  num2 = float(input("num 2:"))
  resp = suma(num1, num2)
  print("La suma es:", resp)

num 1:2
num 2:2
La suma es: 4.0

Ejercio: convertir grados celsius a farenheit, usando funciones de ususario

In [ ]:
def convertir_cf(c):
  return c * 1.8 + 32

In [ ]:
c = float(input("Celsius:"))
print("Farenheit:", convertir_cf(c))

Ejercicio: determina si un numero es par o impar

In [ ]:
def par_impar(num):
    if(num % 2 == 0):
      return "par"
    return "impar"

In [ ]:
num = int(input("Num:"))
print("el numero",num, "es", par_impar(num))

Num:2
el numero 2 es par

**Tarea para el miercoles:**
1. Convertir grados farenheit a celsius
2. Convertir grados (Farenheit y celsius) a Kelvin

Farenheit a celcius

In [ ]:
def convertir_cf(f):
  return (f - 32) / 1.8

In [ ]:
f = float(input("Farenheit:"))
print("Celsius:", convertir_cf(f))

Ferenheit y Celsius a Kelvin

In [ ]:
def convertir_fk(f):
  return (f + 459.67) * 5/9

def convertir_ck(c):
  return c + 273.15

def covertir_rk(r):
  return r * 5/9

In [ ]:
f = float(input("Farenheit:"))
print("Kelvin:", convertir_fk(f))

c = float(input("Celsius:"))
print("Kelvin:", convertir_ck(c))

r = float(input("Rankine:"))
print("Kelvin:", covertir_rk(r))

Ejercicio: calcular el sueldo de un trabajador

In [ ]:
def sueldo(numHrs, valorHrs):
  sueldo = numHrs * valorHrs *30
  if(numHrs > 8):
    sueldo = sueldo + (numHrs - 8) * valorHrs * 30
  return sueldo

In [ ]:
numHrs = int(input("Horas:"))
valorHrs = float(input("Valor:"))
print("Sueldo Mensual:", sueldo(numHrs, valorHrs))

Horas:2
Valor:3
Sueldo Mensual: 180.0

Ejercicio: elevar un numero al cuadrado

In [ ]:
def elevar_cuadrado(base=0, exponente=2):
  return base**exponente

In [ ]:
num = int (input("Num:"))
print("Cuadrado:", elevar_cuadrado(num, 3))

Num:3
Cuadrado: 27

Ejercicio: Usando Funciones Lambda

In [ ]:
elevar_cuadrado_lambda = lambda Base, Exponente: Base**Exponente

In [ ]:
valor = int (input("Num:"))
print("Cuadrado:", elevar_cuadrado_lambda(valor, 2))

Num:3
Cuadrado: 9

In [ ]:
serie = [5,4,3,2,6,7]
resp = map(lambda x: x**2, serie)
print(list(resp))

resp2 = map(elevar_cuadrado, serie)
print(list(resp2))

[25, 16, 9, 4, 36, 49]
[25, 16, 9, 4, 36, 49]

Ejercicio: obtener una raiz cuadrada de un serie de numeros fijos

In [ ]:
serie = [5,4,3,2,6,7]
resp = map(lambda x: x**0.5, serie)
print(list(resp))

[2.23606797749979, 2.0, 1.7320508075688772, 1.4142135623730951, 2.449489742783178, 2.6457513110645907]

Ejercicio con funciones preconstruidas en python

*   MAP

In [1]:
numeros = [1,2,3,4,5,6,7,8,9]
print(list(map(lambda n: n*2, numeros)))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [9]:
numeros = [1,2,3,4,5,6,7,8,9,10]
ntabla = int(input("Tabla:"))
print(list(map(lambda n: n*ntabla, numeros)))

Tabla:10
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

Ejercicio con funciones preconstruidas en python

* FILTER

In [13]:
numeros = [1,2,3,4,5,6,7,8,9,10]
print("Pares:",list(filter(lambda n: n%2 == 0, numeros)))#obtener solo pares

print("Impares:",list(filter(lambda n: n%2 != 0, numeros))) #solo numeros impares

Pares: [2, 4, 6, 8, 10]
Impares: [1, 3, 5, 7, 9]

In [15]:
notas = [8,9,10,7,6,9,10,2,3,1,8,9,2,4]
print("Aprobados:",list(filter(lambda n: n>=6, notas)))
print("Reprobados:",list(filter(lambda n: n<6, notas)))

Aprobados: [8, 9, 10, 7, 6, 9, 10, 8, 9]
Reprobados: [2, 3, 1, 2, 4]

Ejercicio con funciones preconstruidas en python
* REDUCE

In [16]:
from functools import reduce
numeros = [7,8,9,10]
print("suma:",reduce(lambda n, acum: n+acum, numeros))

suma: 34

In [20]:
numeros = [7,8,9,10,1,5]
print("Numero mayor:",reduce(lambda n, mayor: n if n>mayor else mayor, numeros))
print("Numero menor:",reduce(lambda n, menor: n if n<menor else menor, numeros))

Numero mayor: 10
Numero menor: 1

* **TUPLAS**

In [25]:
numeros = (5,8,7,9,5,4,7)
print("Tupla:", numeros, "primer:", numeros[0], "ultimo:", numeros[-1],
"Rango: 2-6", numeros[2:6])
print("El numero se repite",numeros.count(5))

Tupla: (5, 8, 7, 9, 5, 4, 7) primer: 5 ultimo: 7 Rango: 2-6 (7, 9, 5, 4)
El numero se repite 2

In [26]:
semana = ("domingo", "lunes", "martes", "miercoles", "jueves", "viernes", "sabado")
print(semana[0],"Cuantas veces se repite domingo:", semana.count("domingo"),"; dias de la semana", len(semana))

domingo Cuantas veces se repite domingo: 1 ; dias de la semana 7

In [32]:
import datetime
hoy = datetime.date.today()
dia = hoy.day
mes = hoy.month
year = hoy.year
dia_semana = hoy.isoweekday()

semana = ("Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado")
meses = ("Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre")

print(semana[dia_semana],dia, "de", meses[mes],"del", year)

Lunes 29 de Agosto del 2024

In [34]:
tuplas = ("Luis", "Juan")
#tuplas[0] = "Maria" #Las tuplas son inmutables, no pueden cambiar su valor
print(tuplas)
listas = ["Luis", "Juan"]
listas[0] = "Maria" #Las listas si son mutables, si puede cambiar su valor

print(listas)

('Luis', 'Juan')
['Maria', 'Juan']

* LISTAS

In [36]:
listas = [5,8,7,9, "Luis", "Jonathan", "Ramon"]
print(listas, listas[-1])

[5, 8, 7, 9, 'Luis', 'Jonathan', 'Ramon'] Ramon

In [48]:
def obtener_nota(nota, eval):
   return eval[1]*0.3 + nota

In [49]:
matriz = [["Lab1", 8], ["Lab2", 9], ["Parcial", 8]]
reduce(obtener_nota, matriz, 0)

7.5