<a href="https://colab.research.google.com/github/javierc130/Progra-III-2024/blob/main/Fundamentos_de_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello, World")
nombre = "Javier Navarro"

print("Hola", nombre, ", iniciales: ", nombre[0], nombre[7])

Hello, World
Hola Javier Navarro , iniciales:  J N

*EJERCICIO* Crear un programa en python que sume 2 numeros

In [ ]:
num1 = 5
num2 = 9.5
resp = num1 + num2
print("La suma es:", resp)

La suma es: 14.5

EJERCICIO Crear un programa en python que sume 2 numeros producidos por el usuario

In [ ]:
print("num1")
num1 = float(input())

print("num2")
num2 = float(input())

resp = num1 + num2
print("La suma es:", resp)

num1
2
num2
6
La suma es: 8.0

In [ ]:
#Tipos de datos
num1 = 5
num2 = 5.9
nombre = "Javier Navarro"
print(nombre[0:6], nombre[:6], nombre[-1:], nombre[6:len(nombre)])

estado = True
print(estado)

print(type(nombre), type(num1), type(num2), type(estado))

Javier Javier o  Navarro
True
<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

crear un programa en python que lea un numero y determine si es par o impar

In [ ]:
num = int(input("Ingrese un numero:"))
if num % 2 == 0:
 print("El numero es par")
else:
 print("el numero es impar")

Ingrese un numero:8
El numero es par

Ejercicio: uso de las funciones de usuario con la suma de 2 numeros

In [5]:
 def suma(num1, num2):
  return num1 + num2

In [6]:
  num1 = float(input("num 1:"))
  num2 = float(input("num 2:"))
  resp = suma(num1, num2)
  print("La suma es:", resp)

num 1:2
num 2:2
La suma es: 4.0

Ejercio: convertir grados celsius a farenheit, usando funciones de ususario

In [15]:
def convertir_cf(c):
  return c * 1.8 + 32

In [19]:
c = float(input("Celsius:"))
print("Farenheit:", convertir_cf(c))

Celsius:33
Farenheit: 91.4

Ejercicio: determina si un numero es par o impar

In [25]:
def par_impar(num):
    if(num % 2 == 0):
      return "par"
    return "impar"

In [29]:
num = int(input("Num:"))
print("el numero",num, "es", par_impar(num))

Num:2
el numero 2 es par

**Tarea para el miercoles:**
1. Convertir grados farenheit a celcius
2. Convertir grados (Farenheit y celcius) a Kelvin

Ejercicio: calcular el sueldo de un trabajador

In [37]:
def sueldo(numHrs, valorHrs):
  sueldo = numHrs * valorHrs *30 #
  if(numHrs > 8):
    sueldo = sueldo + (numHrs - 8) * valorHrs * 30
  return sueldo

In [39]:
numHrs = int(input("Horas:"))
valorHrs = float(input("Valor:"))
print("Sueldo Mensual:", sueldo(numHrs, valorHrs))

Horas:2
Valor:3
Sueldo Mensual: 180.0